.enterCity {
  margin: 20px;
}

.button-round {
  border-radius: 60%;
}

.cityName {
  background: rgb(136, 128, 128, 0.2);
  color: black;
  padding: 10px;
  margin: 30px;
  width: 15%;
  border-radius: 10px;
}

.move-right {
  margin-left: 30px;
}

.weatherWording {
  color: blueviolet;
}

.weatherTemperature {
  font-size: 40px;
}

.rain-wind {
  font-weight: 600;
}

.weatherColor {
  color: purple;
}

.button-5-days {
  background: rgb(136, 128, 128, 0.2);
  color: black;
  margin-top: 30px;
}

.five-days {
  margin-top: 50px;
}

.five-day-color {
  color: purple;
}
